<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>넷플릭스 헤더</title>
    <link rel="icon" href="/src/assets/favicon/euid.svg" />
    <link rel="stylesheet" href="/src/styles/main.css" />
  </head>
  <body class="bg-slate-300 font-suit">
    <header class="grid grid-cols-12 gap-3 bg-black p-5">
      <h1 class="col-span-2 col-start-2 self-center">
        <a href="/">
          <picture>
            <source srcset="/src/assets/logo/netflix@1x.png 1x, /src/assets/logo/netflix@2x.png 2x" type="image/webp" />
            <img src="/src/assets/logo/netflix@1x.png" srcset="/src/assets/logo/netflix@2x.png 2x" alt="NETFLIX" />
          </picture>
        </a>
      </h1>

      <div class="relative col-span-2 col-start-8 flex items-center justify-center text-gray-300">
        <svg class="absolute inset-x-2 h-4 w-4">
          <use href="/src/assets/sprite/icons.svg#global" />
        </svg>

        <label for="combo-1" class="sr-only">언어 선택</label>
        <select name="selectLanguage" id="combo-1" class="h-12 w-32 appearance-none rounded-lg border bg-transparent text-center">
          <option value="korean">한국어</option>
          <option value="english">영어</option>
        </select>

        <svg class="absolute inset-x-24 h-4 w-4">
          <use href="/src/assets/sprite/icons.svg#triangle" />
        </svg>
      </div>

      <a class="col-span-2 h-12 w-32 rounded-lg bg-red-600 p-3 text-center text-white" href="/">로그인</a>
    </header>
    <hr class="py-5" />
    <header class="grid grid-cols-[1fr_auto_auto] gap-2 bg-Black px-6 py-5 lg:gap-3 lg:px-5 lg:py-10">
      <h1 class="self-center">
        <a href="/" class="block w-20 lg:w-36">
          <picture>
            <source srcset="/src/assets/logo/netflix@1x.png 1x, /src/assets/logo/netflix@2x.png 2x" type="image/webp" />
            <img src="/src/assets/logo/netflix@1x.png" srcset="/src/assets/logo/netflix@2x.png 2x" alt="NETFLIX" />
          </picture>
        </a>
      </h1>

      <div class="relative inline-flex self-center rounded-default border text-Gray-300">
        <svg class="translate absolute left-2 top-1/2 size-3 -translate-y-1/2 lg:left-3 lg:size-4">
          <use href="/src/assets/sprite/icons.svg#global" />
        </svg>

        <label for="combo-1" class="sr-only">언어 선택</label>
        <select name="selectLanguage" id="combo-1" class="appearance-none bg-transparent px-7 py-1 lg:right-3 lg:px-10 lg:py-2">
          <option value="korean">한국어</option>
          <option value="english">영어</option>
        </select>

        <svg class="translate absolute right-2 top-1/2 size-3 -translate-y-1/2 lg:size-4">
          <use href="/src/assets/sprite/icons.svg#triangle" />
        </svg>
      </div>

      <a href="/" class="inline-flex self-center rounded-default bg-Red-500 px-5 py-1.5 text-xs font-bold text-white lg:py-2.5 lg:text-base">로그인</a>
    </header>
  </body>
</html>
